/* usage font */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
}

section {
    width: 1300px;
}

body {
    
    background-color: #F5F5F5
}

/* banner section styles */

.banner {
    background-color: #C6E4D6;
    width: 1300px;
    margin: 160px auto;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
}

.banner-content {
    width: 622px;
    margin-top: 117px;
    margin-bottom: 117px;
    margin-left: 60px;
}

.banner-content .banner-title {
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
    opacity: 50%;
}

.banner-goal {
    font-size: 56px;
    color: #0E0E0E;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 24px;
}

.explore-btn {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    background-color: #006A50;
    padding: 17px 34px;
    border: none;
    border-radius: 8px;
}


.banner img {
    width: 473px;
    height: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-right: 60px;
}

/* future vision section styles */

.future-vision {
    margin: 0 auto;
}

.future-vision-title {
    color: #0E0E0E;
    font-size: 40px;
    font-weight: 700px;
}

.future-vision-description {
    color: #0E0E0E;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.vision-card-content {
    display: flex;
    justify-content: space-between;
}

.vision-card-content .card-1 {
    padding: 32px;
    border-radius: 16px;
    box-sizing: border-box;
    background: rgba(84, 144, 245, 0.2);
    transition: 0.4s;
    cursor: pointer;
}
.card-1:hover, .card-2:hover, .card-3:hover {
    transform: scale(1.06);
}

.vision-card-content .card-2 {
    padding: 32px;
    background-color: #C6E4D6;
    border-radius: 16px;
    transition: 0.4s;
    cursor: pointer;
}
.vision-card-content .card-3 {
    padding: 32px;
    background-color: #F7EBCF;
    border-radius: 16px;
    transition: 0.4s;
    cursor: pointer;
}

 /* vision card styles */

.card-title {
    color: #0E0E0E;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 12px;
}


 .card-description-1, .card-description-2, .card-description-3 {
    color: #0E0E0E;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
    width: 356px;
}
.card-description-2 {
    margin-bottom: 48px;
}
.card-description-3 {
    margin-bottom: 48px;
}

.card-description-3 {
    width: 365px;
}

.learn-btn {
    padding: 11px 20px;
    border-radius: 8px;
    background-color: #5490F5;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.learn-btn-2 {
    padding: 11px 20px;
    border-radius: 8px;
    background-color: #09A15C;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.learn-btn-3 {
    padding: 11px 20px;
    border-radius: 8px;
    background-color: #FFC239;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* about chief advisor styles */

.about-chief-advisor {
    padding: 48px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    margin-top: 32px;
    background: rgb(255, 255, 255);
    background-image: url("../images/quote-bg.png");
    background-repeat: no-repeat;
    background-position-x: 27px;
    background-position-y: 22px;
}

.about-description {
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.advisor-name {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 4px;
}

.advisor-position {
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* recent news section styles */

.recent-news {
    margin: 0 auto;
    border-radius: 24px;
    margin-top: 80px;
}

.news-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.news-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.news-container {
    display: flex;
    gap: 32px;
    padding: 48px;
    background-color: #fff;
    border-radius: 24px;
    margin-bottom: 24px;
}

.news-container img {
    border-radius: 24px;
}


.news-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-top: 10px;
    margin-bottom: 12px;
}

.date-time {
    display: flex;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 12px 0;
}

.al-news-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.read-more-btn {
    padding: 13px 26px;
    background-color: #006A50;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: 600px;
    cursor: pointer;
}

/* donation section styles */

.donation {
    margin: 80px auto;
    text-align: center;
}
.donation-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.donation-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 1280px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.donation-amount {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.donation-amount .box-money {
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s;
}

.box-money:hover {
    background-color: #C6E4D6;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.input1 {
    width: 1032px;
    height: 64px;
    box-sizing: border-box;
    border: none;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 32px 0;
    text-align: center;
}

.done-now-btn {
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600px;
    cursor: pointer;
}

/* subscribe section styles */

.subscribe {
    border-radius: 16px;
    background-color: #C6E4D6;
    /* height: 395px; */
    padding: 80px 0;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
    justify-content: center;
  }


  .newsletter {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
  }

  .subscribe-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  form {
    position: relative;
    margin-right: 173px;
    margin-bottom: 24px;
  }

  .input2 {
    padding: 18px 403px 18px 40px;
    border: none;
    border-radius: 8px 0 0 8px;
    color: rgba(14, 14, 14, 0.3);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    cursor: pointer;
}

  .subs-btn {
    position: absolute;
    padding: 17px 34px;
    border: none;
    background-color: #006A50;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 0 8px 8px 0;
  }

  .note {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
  }

